/*feedback form success/error*/
p.feedbackSuccess{
  padding:20px;
  color:white;
  background-color:#5B9496; 
}

p.feedbackFail{
  padding:20px;
  color:white;
  background-color:#f06060; 
}

#mainNav .navbar-nav>li>a, #mainNav .navbar-nav>li>a:focus {
    color: white;
    padding-top:30px;
   /* padding-bottom:20px;*/
}

#mainNav .navbar-brand{
	color:white;
	font-weight: bold;
}

.fa-bars{
	
	font-size: 20px;
}